body
{
    margin: 0%;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Roboto, sans-serif, 'Times New Roman', Times, serif;
}

.header
{
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
}

.logo
{
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
}

.links > li a 
{
    text-decoration: none;
    font-size: 18px;
    color:#F9FAF8;
}

.header > ul
{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 16px;
}

.container-main-content
{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgba(255, 255, 255, 0);
    justify-content: flex-start;
}

.container-1
{
    background-color: #1F2937;
    height: 215px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.left-subcontainer-1
{
    color: #F9FAF8;
}

h1
{
    text-align: left;
}

.left-subcontainer-1 p
{
    text-align: left;
}

.button-container-1
{
    background: #3882F6;
    font-size: 16px;
    padding: 12px;
    width: fit-content;
    border-radius: 10px;
}

button 
{
    background: #3882F6;
    border: 1px solid #3882F6;
    margin: 0 auto;
    padding: 2px 28px;
    font-size: 16px;  
    color: #F9FAF8;
    cursor: pointer;
}

.cta-rectangle button
{
    background: #3882F6;
    margin: 0 auto;
    padding: 2px 28px;
    font-size: 16px;  
}

.right-subcontainer-1
{
    height: 150px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.container-2
{
    height: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1 1 100%;
}

.title-container-2
{
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.copy-main-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.copy-subcontainer
{
    display: flex;
    flex-direction: column; /*I like it more like this, but whatever*/
    height: 150px;
    width: 170px;
    border-radius: 15px;
    padding: 0%;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.image-container
{
    height: 95px;
    width: 95px;
    border: 3px rgba(100, 100, 100, 0.459) solid;
    padding: 0%;
}

.testimonies
{
    padding: 0%;
    height: 190px;
    background-color:#E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 0 0 100%;
}

.testimony-title-container
{
    text-align: left;
    font-size: 36px;
    color: #1F2937;
    margin-top: 0px;
    margin-bottom: 18px;
    margin-left: 220px;
}

.testimony-text-1
{
    margin-left: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 0%;
    margin-right: 50px;
}

.testimony-author-1
{
    margin-right: 50px;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    align-self: flex-end;
}

.call-to-action
{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;
}
.cta-rectangle
{
    height: 80px;
    width: 900px;
    background-color: #3882F6;
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #F9FAF8;
}

.cta-rectangle > .button-container-1
{
    border: #F9FAF8 2px solid;
}

.footer 
{
    height: 53px;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}