body
{
    margin: 0%;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header
{
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
}

.logo
{
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
}

.links > li a 
{
    text-decoration: none;
    font-size: 18px;
    color:#F9FAF8;
}

.header > ul
{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 16px;
}

.container-main-content
{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgba(255, 255, 255, 0);
    justify-content: flex-start;
}

.container-1, .testimonies
{
    height: 205px;
}

.container-1
{
    /*justify-content: flex-start;*/
    background-color: #1F2937;
    
}

.container-2
{
    height: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*gap: 52px;
    margin-top: 0px;*/
    flex: 1 1 100%;
}

.title-container-2
{
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.copy-main-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.copy-subcontainer
{
    display: flex;
    flex-direction: column; /*I like it more like this, but whatever*/
    height: 150px;
    width: 170px;
    border: 5px rgba(255, 255, 255, 0) solid;
    border-radius: 15px;
    padding: 0%;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.image-container
{
    height: 95px;
    width: 95px;
    border: 3px rgba(100, 100, 100, 0.459) solid;
    padding: 0%;
}

    

.testimonies
{
    background-color:#E5E7EB;
    
}

.call-to-action
{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex: 1 1 100%;
    /*height: 400px;*/
}

.footer 
{
    height: 53px;
    /*font-family: Arial, Helvetica, sans-serif;*/
    background-color: #1F2937;
    /*RED BACKGROUND TEMPORARY*/
    color: #F9FAF8;
    font-size: 18px;
    display: flex;
    /*flex-direction: row; NO HACE FALTA*/
    justify-content: center;
    align-items: center;
    /*text-align: center; NO HACE FALTA*/
}